// COLORS
//$primary-color: #02aab0;
//$secondary-color: #00cdac;

$primary-color: #7bb4be;
$secondary-color: #39ac8f;
$green-color: #efe;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #23412d; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
